body {
  background-color: grey;
}

.container-login {
  width: 80%;
  height: 700px;
  margin: auto;
  margin-top: 70px;
  background: linear-gradient(
    to right,
    rgb(251, 250, 250) 50%,
    rgb(66, 37, 83) 50%
  );
  display: flex;
}

.login {
  border: 1px solid red;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.register {
  border: 1px solid red;
  width: 50%;
}
